node_modules
components
dist
.tmp
.sass-cache
app/components
.DS_Store
public/img/psd
public/img/screenshots
extras/
.elasticbeanstalk/

# Used only for testing the README.
README.html
results/

# vi/vim swap files.
.*.swp
.*.swo
